body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

header {
  background-color: #fff;
  padding: 15px 20px;
  display: flex;
  align-items: center;
}


.logo {
  width: 60px;
  height: auto;
  margin-right: 15px;
}

.company-name {
  font-size: 24px;
  color: #ff1493; /* Pink Shade!! */
  margin: 0;
}

.content h2 {
  color: #fc6601; /* Orange */
}

.container {
  display: flex;
  min-height: calc(100vh - 82px); /* header height adjustment */
}

.content {
  flex: 1;
  padding: 40px;
}

.sidebar {
  width: 220px;
  padding: 20px;
  background-color: #fff;
  border-left: 2px solid #dee2e6;
  display: flex;
  flex-direction: column;
}

.sidebar button {
  margin-bottom: 15px;
  padding: 12px;
  border: none;
  border-radius: 4px;
  background-color: #ff1493;
  color: white;
  cursor: pointer;
  font-size: 15px;
  transition: background-color 0.3s;
}

.sidebar button:hover {
  background-color: #e01183; /* darker pink for hover */
}

