body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;

}

/* Header Section Styles */
.header-section {
  color: white;
  background: #FFFFFF;
}

h2 {
	color: #FC6601; 	
	text-shadow: 2px 1px 1px #FFFFFF;
}

h3 {
	color: #FC6601;
}

.label-orange {
  color: #FC6601;
}


input[type="search"] {
    width: 50%;
    padding: 8px;
}


section {
    margin: 20px;
}

p {
	color: #FC6601;
}

.slider-container {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
	background: linear-gradient(to right, #FC6601, #FF1493);
	
}

.slider {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.slider .frame, .vertical-scroll .frame {
    flex: none;
    width: 200px;
    height: 250px;
    background-color: #fff;
    border: 1px solid #FE7D6A60;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px #FE7D6A60);
    text-align: center;
}

.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: #FE7D6A20;
    cursor: pointer;
    padding: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

.slider-btn.left { left: 0; }
.slider-btn.right { right: 0; }

.vertical-scroll {
    height: 400px;
    overflow-y: scroll;
}